/* ---- reset ---- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  min-height: 400px;
  min-width: 300px;
  /*overflow: hidden;*/
  font-family: "arial", sans-serif;
  font-size: 14px;
  color: #343434;
}
p, ul, ol {
  text-decoration: none; 
  font-size: 1em;
}
li {
  margin-left: 1em;
}
section {
  overflow: auto;
}

/*** 
*
* Colour and Typography 
*
***/

strong {
  font-family: "arial", sans-serif;
  font-weight: bold;
  color: #FF7F00;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "arial narrow", sans-serif;
}
h1 {
  text-decoration: none; 
  font-size: 2rem;
  color: #2C8EB3;
  margin-bottom: .5rem;
}
h2 {
  font-size: 1.5rem;
  font-style: italic;
  color: #144E76;
  margin-bottom: .5rem;
}
p {
  margin-bottom: 1em;
}
a {
  color: #b30000;
  transition: background-color 0.25s ease;
}
a:hover,
a:visited {
  color: #DC2627;
}
button {
  border: none;
  background: #2C8EB3;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 20px;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
    -webkit-transition: 0.25s; /* Safari */
  transition: 0.25s;
}
button:hover {
  background: #DC2627;
}
@media screen and (min-width: 640px) {
  button {
    width: auto;
    margin: 0;
  }
}
.dropcap{
  color: #ff0000;
  font-weight: 400;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  margin-bottom:-15px; 
}
.lt-blue-bg {
  background-color: #2C8EB3;
}
.dk-blue-bg {
  background-color: #144E76;
}
.red-bg {
  background-color: #DC2627;
}
.dk-grey-bg {
  background-color: #8B8B8B;
}
.lt-grey-bg {
  background-color: #F6F6F6;
}
.center {
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-all {
  clear: both;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.full-width {
  width: 100%;
}
.text-center {
  text-align: center;
}
/*** 
*
* Content 
*
***/
#main-wrapper {
  width: 100%;
  height: 100%;
  /*overflow: auto;*/
}
.col-2,
.col-3,
.col-4 {
  width: 100%;
  margin: 0 auto;
}
.section-content {
  width: 100%;
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  overflow: auto;
}
.section-content p:last-of-type {
  margin-bottom: 40px;
}
@media screen and (min-width: 640px) {
  .col-4 {
    width: 50%;
    float: left;
    margin: 0;
  }

}
@media screen and (min-width: 800px) {
  .col-2 {
    width: 50%;
    float: left;
    margin: 0;
  }
  .col-4 {
    width: 25%;
    float: left;
    margin: 0;
  }
}
/* navigation */
.brand-border-1 {
  display: block;
  content: "";
  width: 33.33%;
  height: 10px;
  background-color: #144E76;
  float: left;
}
.brand-border-2 {
  display: block;
  content: "";
  width: 33.34%;
  height: 10px;
  background-color: #2C8EB3;
  float: left;
}
.brand-border-3 {
  display: block;
  content: "";
  width: 33.33%;
  height: 10px;
  background-color: #DC2627;
  float: left;
}
nav.site-nav {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 3px 4px rgba(0,0,0,.25);
}
.nav-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.branding {
  float: left;
}
ul.nav-list {
  display: block;
  list-style: none;
}
li.nav-item a,
.branding a {
  display: inline-block;
  padding: 20px 30px;
  text-decoration: none;
  color: #343434;
  transition: all 0.25s ease;
}
li.nav-item a {
  width: 100%;
}
#showmenu {
  float: right;
  padding: 20px 30px;
  color: #343434;
  transition: all 0.25s ease;
}
ul.nav-list li.nav-item a:hover,
div.branding a:hover,
#showmenu:hover {
  background-color: #8B8B8B;
  color: #fff;
}
#showmenu {
  float: right;
  padding: 20px 30px;
}
ul.hide {
  display: none;
}
@media screen and (min-width: 640px) {
  ul.nav-list {
    display: inline-block;
    float: right;
  }
  li.nav-item {
    margin: 0;
    float: left;
  }
  #showmenu {
    display: none;
  }
  ul.hide {
    display: inline-block;
  }
}

/* body content */

.BigBrainPic {
  display: block;
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 20px;
}
.text-box {
  width: 100%;
  max-width: 1280px;
  padding: 20px;
}
.icon {
  width: 100%;
  max-width: 75px;
  text-align: center;
  margin: 10px;
  float: left;
}
.icon img {
  width: 100%;
  margin-bottom: 20px;
}
.button-holder {
  width: 100%;
  max-width: 600px;
  padding: 0 40px;
  margin: 0 auto;
}

/* footer */

footer {
  position: relative;
  background-color: #000;
  padding: 80px 0 40px;
}
footer a {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 30px;
  margin: 20px;
  max-width: 300px;
  min-width: 125px;
  height: auto;
}
footer a img {
  width: 100%;
  height: auto;
}
footer .flex {
  flex-wrap: nowrap;
}
footer .section-content {
  margin: 0 auto;
}
blockquote {
  position: absolute;
  top: -50px;
  left: calc(50% - 150px);
  height: 100px;
  width: 300px;
  z-index: 999;
}
.quote-image {
  position: absolute;
  left: 0;
  width: 100px;
  border-radius: 50px;
  border: 5px solid #2C8EB3;
  float: left;
  z-index: 100;
}
p.quote-text {
  position: absolute;
  top: 12.5px;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: .875rem;
  font-weight: bold;
  color: #fff;
  width: 220px;
  height: 75px;
/*  border: 5px solid #2C8EB3;*/
  overflow: auto;
  background: #2C8EB3;
  padding: 10px 10px 10px 25px;
  float: left;
  z-index: 99;
}
@media screen and (min-width: 640px) {
  footer {
    padding: 80px 40px;
  }
    blockquote {
    width: 350px;
  }
  p.quote-text {
    width: 270px;
    font-size: 1rem;
  }
}
